/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

/* PC */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* Tablet */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }

  .header__container {
    min-height: 80px;
  }

  .menu__item {
    margin: 0 30px 0 0;
  }

  .header__button {
    flex: 0 0 170px;
  }
}

/*Mobile*/
@media (max-width: 767.98px) {
}

/*Mobile Small*/
@media (max-width: 479.98px) {
}

.main {
  flex: 1 1 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0 40px 0 0;
}

.menu__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.menu__item {
  margin: 0 40px 0 0;
}

.menu__link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000;
}

.menu__link:hover {
  text-decoration: underline;
}

.button {
  padding: 12px 29px 16px 31px;
  color: #fcfdfe;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 800;
  line-height: 12px;
  letter-spacing: 1px; /*0.14em*/
  background-color: #ec5863;
  transition: opacity 0.5s ease-in;
}

.button:hover {
  opacity: 0.5;
}

.button_blue {
  background-color: #4285f4;
}

.icon-menu {
  display: none;
}

/*Mobile*/
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }

  .icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 20px;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }

  .icon-menu span {
    background-color: #000;
    height: 2px;
  }

  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 90px 15px 30px 15px;
    transition: left 0.5s ease-in;
  }

  .menu__body:target {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__item {
    margin: 0 0 25px 0;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 40px;
    overflow: hidden;
  }
}
